[Desktop Entry]
Version=1.0
Type=Application
Name=Install
Comment=Inject OwO into your system
Exec=/archOwO_install/injectOwO.sh
Icon=system-os-installer
Path=
Terminal=true
StartupNotify=false
