[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Set gnome theme
Comment=
Exec=/archOwO/set_gnome_theme.sh
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false
